html, body, .container, #sidebar, #mapContainer {
  height: 100%;
  margin: 0;
  background-color: #575E00;
  font-family: sans-serif;
}

.title {
  text-align: center;
  color: white;
}

.container {
  display: flex;
}

#sidebar {
  color: white;
  width: 320px;
  margin: 10px;
}

#mapContainer {
  flex-grow: 1;
}
